@font-face {
    font-family: "LynoJean";
    src: url("/resources/LynoJean.otf") format("opentype");
}

#commentBox {
    position: absolute;
    right: 0;
    background-color: coral;
    float: right;
    text-align: right;
    font-size: 0.5rem;
}

* {
    font-family: Space Mono, Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding:0;
    margin:0;
}

html {
    font-size: 14px;
    color: hsla(42,0,20,1);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #FFFCF6;
    width: 343px;
}

header {
    position: fixed;
    height: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin:0;
    box-sizing:border-box;
    width: 344px;
}

a {
    color: #333333;
    text-decoration: none;
}

nav li {
    display: inline;
    font-size: 1.071rem;
    float: right;
    margin-left: 2rem;
}

#navLogo {
    font-family: Lyno;
    font-size: 1.786rem;
    float: left;
    margin-left:0;
}

main {
    position: relative;
    top: 100px;
}

#introBox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

#introImage {
    min-width: 344px;
    height: 227px;
    background-color: #FFF1D0;
    margin-bottom: 24px;
}

#mainTitle {
    font-family: Lyno Jean;
    font-size: 2.857rem;
    color: #529D96;
    margin-bottom: 24px;
}

#link {
    color: #4290CF;
    text-decoration: underline;
    font-weight: 700;
    font-style: italic;
}

.portfolioItem {
    margin-bottom: 50px;
}

#squiggle {
    height: 35px;
    width: 127px;
    background-color: black;
    /* Do not forget to adjust height & width appropriately !!!
    background-image: url('');
    */
    margin: auto;
}

.PI-title {
    margin: auto;
    justify-content: center;
    background-color: cyan;
    text-align: center;
}

.PI-title-under {
    font-family: Lyno;
    font-size: 2.857rem;
    color: #FFF0D2;
}

.PI-title-over {
    font-weight: 1400;
    font-size: 1.714rem;
    position: relative;
    top: -50px;
}

footer {
    padding: 2em 5em;
    text-align: center;
    font-weight: 400;
}
