@font-face {
  font-family: "LynoJean";
  src: url("/resources/LynoJean.otf") format("opentype");
}

@font-face {
  font-family: "Windsor";
  src: url("/resources/Windsor_BT.ttf") format("opentype");
}

:root {
  --bg: #fffbf1;
  --text: #134e87;
  --pale: #e2e2e2;
  --highlight: #fff585;
}

* {
  font-family: Space Mono, Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--bg);
  color: var(--text);
  font-size: 10px;
  box-sizing: border-box;
}

.pageWrap {
  padding-left: 35px;
  padding-right: 35px;
  width: 1000px;
  margin: auto;
}

/* HEADER */

header {
  background-color: var(--bg);
  position: fixed;
  height: 10rem;
  width: 100%;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  margin: 0;
  box-sizing: border-box;
  z-index: 80;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}

h1 a {
  /*the correct text colour*/
  font-family: "Windsor", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  color: var(--text);
  text-decoration: none;
}
h1 a:visited {
  color: var(--text);
}

nav ul {
  float: right;
}

nav li {
  color: var(--pale);
  list-style-type: none;
  float: left;
  margin-left: 20px;
  font-size: 1.5rem;
  text-decoration: none;
}
nav li a {
  color: var(--pale);
  text-decoration: none;
}
nav li a:visited {
  color: var(--pale);
  text-decoration: none;
}

/* HERO */

main {
  margin-top: 10rem;
}

.hero {
  width: 100%;
  background-image: url("./resources/heya.png");
  height: 24rem;
  align-items: center;
  display: flex;
  background-size: 100%;
  background-position-y: 90%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  background: contain;
}

h2 {
  font-family: "Windsor", Arial, Helvetica, sans-serif;
  font-size: 4.3rem;
  width: 1000px;
  color: var(--bg);
  text-shadow: 4px 4px var(--text);
}

/* ITEMS */

.item {
  margin-top: 5rem;
  width: 1000px;
  display: inline-block;
  font-size: 0;
}

.itemPhoto {
  background: top left/contain no-repeat;
  width: 50%;
  height: 300px;
  display: inline-block;
}

.koprImgSrc {
  background-image: url("./resources/kopr_image.png");
}
.probioImgSrc {
  background-image: url("./resources/probio_image.png"); /*change!*/
}
.tofuImgSrc {
  background-image: url("./resources/tofu_image.png");
}
.whetherImgSrc {
  background-image: url("./resources/whether_image.png");
}

.itemDesc {
  padding-left: 3rem;
  padding-right: -3rem;
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

h3 {
  font-family: "Windsor", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  line-height: 100%;
  color: var(--text);
  text-shadow: 4px -4px var(--highlight);
}

.tags {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tags li {
  list-style-type: none;
  display: inline;
  text-align: center;
  padding: 3px 6px;
  font-size: 1rem;
  margin-right: 1rem;
}

.itemTech {
  color: var(--text);
  background-color: var(--highlight);
}

.itemLink {
  background-color: var(--text);
}

.itemLink a {
  text-decoration: none;
  color: var(--pale);
}

.itemLink a:visited {
  text-decoration: none;
  color: var(--pale);
}

.itemDesc p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.itemAction {
  font-size: 1.3rem;
  color: var(--text);
}

/* FOOTER */

footer {
  text-align: center;
  margin-top: 50px;
}

footer img {
  transform: scaleX(-1);
  width: 300px;
  margin-top: -40px;
  margin-bottom: -20px;
}

.footerPhoto {
  background-image: url("./resources/footer_photo.png");
  min-width: 200px;
  height: 150px;
  background-size: 40%;
  background-position-y: 90%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

/* ABOUT */
.aboutMe img {
  width: 100%;
  margin-bottom: 3rem;
}

.aboutMe p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.skills {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

.skills ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.proficiencies {
  margin-right: 5rem;
}

.proficiencies li {
  background-color: var(--highlight);
  font-size: 1.3rem;
  margin-bottom: 1rem;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  line-height: 2rem;
}

.bakasana {
  background-image: url("./resources/bakasana.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
}

.tools li {
  background-color: var(--pale);
  font-size: 1.3rem;
  margin-bottom: 1rem;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  line-height: 2rem;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 450px) {
  html {
    font-size: 7px;
  }
  .pageWrap {
    width: 350px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  header {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  main {
    margin-top: 7rem;
  }
  .hero {
    width: auto;
    height: 20rem;
  }
  h2 {
    width: 350px;
    font-size: 3.5rem;
    margin-top: 2rem;
  }
  .item {
    width: 350px;
    margin: auto;
    margin-top: 5rem;
  }
  .itemPhoto {
    background-position: center;
    width: 100%;
    height: 141px;
    display: inline-block;
    margin-bottom: 3rem;
  }
  .itemDesc {
    width: 100%;
    display: inline;
    padding-left: 5rem;
  }
  footer img {
    transform: scaleX(-1);
    width: 200px;
    margin-top: -40px;
    margin-bottom: -20px;
  }
}
