/* I want everything to be centered in the middle, fortune text has to be large, headered small and underlined. Try to style the button, too */
* {
    text-align: center;
    font-family: Space Mono, Arial, Helvetica, sans-serif;
}

html {
    font-size: 40px;
}

body {
    background-color: lavender;
}

button {
    background-color: greenyellow;
    font-size: 1rem;
}

h1 {
    margin-top: 4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 2rem;
}

p {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (min-width: 480px) and (max-width:1600px) {
    html {
        font-size: 24px;
    }
}