
* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

html {
    font-size: 30px;
}

body {
    width: 314px;
    margin: auto;
    min-height: 300px;
}

button {
    background-color:grey;
    font-size: 1rem;
    border: none;
    padding: 10px;
}

h1 {
    font-family: 'Syne Tactile', cursive;    
    font-size: 2rem;
    margin-top: 200px;
}

p {
    font-size: 1rem;
}

footer {
    position:absolute;
    bottom:0px;
    text-align: center;
    margin-bottom: 1rem;
    width: 314px;
}

footer p {
    font-size: 0.3rem;
    text-align: center;
}

footer a {
    text-decoration: none;
}

@media only screen and (min-width: 800px) {
    body {
        width: 750px
    }
    footer {
        width:750px;
    }
}