/* General */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #3B3B3B;
}

/* H E A D E R */

header {
    background-color: #EBEBEB;
    width:100%;
    height: 100px;
    position: fixed;
    z-index: 2;
}

.marquee {
    color: #C8C8C8;
    margin-top: 30px;
    font-family: 'Podkova', 'Times New Roman', Times, serif;
}

.track {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}
  
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}  

#arrow-box {
    width:350px;
    margin:auto;
    text-align: center;
    position: relative;
    bottom: 50px;
}

.head-arrows li {
    display: inline;
    margin: 0px;
    font-size: 55px;
    font-weight: bold;
    margin: 25px 50px;
}

#border {
    border-top: #3B3B3B 3px solid;
    border-bottom: #FFB388 5px solid;
    position:relative;
    bottom:25px;
}

/* N A V I G A T I O N */

nav {
    position: fixed;
    width:100%;
    height:100%;
    z-index: 3;
    display: none;
    overflow: hidden;
}

#nav-box {
    background-color: #EBEBEB;
    padding-top: 100px;
    height: 90%;
    overflow: scroll;
    z-index: 4;
}

nav #border {
    position:static;
}

.menuList {
    display: none; /* Should be GRID */
    grid-template: repeat(4, 30px) / repeat(2,250px);
    gap: 10px 10px;
    grid-auto-flow: column;
    margin-bottom: 60px;
    overflow:scroll;
}

.menuList a {
    text-decoration: none;
    color: #3B3B3B;
}

#hide-menu {
    text-align: center;
    width:100%;
    margin-bottom: 40px;
    border: none;
    background-color: #EBEBEB;
    font-size: 55px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#blank-space {
    width: 100%;
    height: 18%;
}

/*  M  A  I  N  */

h1 {
    font-family: 'Podkova', 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 25px 0px;
    position: relative;
    top:-406px;
}

h3 {
    font-family: 'Podkova', 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-size: 35px;
}

#page-wrap {
    margin: auto;
    width: 350px;
    z-index: 1;
}

main {
    position: relative;
    top:150px;
    z-index: 0.5;
}

#image {
    width: 350px;
    height: 200px;
}

#image-shader {
    background-color: #FFB388;
    opacity:50%;
    width: 350px;
    height: 200px;
    position: relative;
    top:-206px;
}

#image-border {
    width: 350px;
    height: 200px;
    position: relative;
    top:-406px;
    border: #3B3B3B 3px solid;
}

#description {
    font-style: italic;
    position: relative;
    top:-406px;
}

#method {
    margin: 25px 0px;
    padding-left: 25px;
    line-height: 1.5rem;
    position: relative;
    top:-406px;
}

#method li {
text-decoration: none;
}

/* T I M E R */

.timerTrigger {
    font-weight: bold;
    color: #C10023;
    text-decoration: underline;
    animation: none;
}

#timerStrip {
    background-color: #FFD9C3;
    width: 100%;
    height: 88%;
    z-index: 0.5;
    position:fixed;
    bottom:0px;
    display: none;
    text-align: center;
    animation: none;
}

#timerText {
    font-family: 'Podkova', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 100px;
    position: fixed;
    bottom: -25px;
    text-align: center;
    width:100%;
    color: #E06D73;
    display: none;
}

@keyframes timerTrigPulse {
	0% {opacity:100%;}
    50% {opacity:40%;}
	100% {opacity: 100%;}
}

@keyframes timerAnim {
    0% {height: 88%;}
    100% {height: 0%}
}


footer {
    position: relative;
    padding:50px 0px;
    text-align: center;
    font-size: 12px;
    font-family: 'Podkova', 'Times New Roman', Times, serif;
    position: relative;
    top: -206px;
}

footer a {
    text-decoration: underline dotted;
    color: #3B3B3B;
}

/* W E L C O M E  P A G E */

.welcMarquee {
    color: #C8C83B3B3BC8;
    margin-top: 30px;
    font-family: 'Podkova', 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding-top:80px;
}

body .welcMarquee h1 {
    font-weight: lighter;
}

#welcBody {
    background-color: #FFB388;
}

#welcQuote {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 50px;
}

#welcBody img {
    width:140px;
    padding: 50px 0px;
    animation: welcFloat 2s ease-in-out alternate infinite;
}

@keyframes welcFloat {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(10%);
    }
}

.welcWrap {
    text-align: center;
}

.welcMenu {
    background-color: none;
}